@import '../../styles/sass/abstracts/variables';
@import '../../styles/sass/abstracts/mixins';

.container {
  width: 100vw;
  background-color: $background;

  .search_container {
    margin: 2.4rem 2rem;

    display: flex;
    align-items: center;

    border-radius: 8px;
    background-color: $dark-500;

    input[type='search'] {
      padding: 2rem;
      width: 100%;

      font-size: 1.8rem;
      color: $dark-200;

      border: none;
      outline: none;
      background-color: transparent;
    }

    button {
      background-color: $dark-400;
      border: none;
      border-radius: 0 8px 8px 0;

      min-width: 6rem;
      height: 6rem;
      flex: 1;

      .icon {
        font-size: 2.4rem;
        color: $dark-100;
      }
    }
  }

  @include sm {
    .search_container {
      margin: 2.4rem 3rem;
    }
  }

  @include md {
    .search_container {
      display: none;
    }
  }
}
